body{
    background-color: #fff;
}
.guide{
    padding-left: 2rem;
    padding-top: 1rem;
}
.insight-guide-heading{
    font-size: 1.8rem;
    font-family:'Times New Roman', Times, serif;
    display: block;
    color: blue;
    margin: 0 auto;
    padding-bottom: 1rem;
}
.guide-para{
    font-size: 1.2rem;
    font-family:'Times New Roman', Times, serif;
    display: block;
    /* padding-bottom: 1rem; */
    max-width: 70%;
}
.filename-guide{
    color: rgb(229, 0, 39);
    background-color: rgb(226, 226, 226);
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 4px;
}
.need-margin-here{
    margin-top: 2rem;
}
.algo-div-guide{
    width: 70%;
    padding: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: black;
    border-radius: 6px;
    color: #fff;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.phptag-open{
    display: block;
    color: rgb(255, 34, 104);
    font-weight: 500;
    padding-bottom: 1rem;

}

.phptag-close{
    display: block;
    color: rgb(255, 34, 104);
    font-weight: 500;

}
.inc{
    padding-left: 2rem;
    color: rgb(0, 119, 255);
    display: block;
    padding-bottom: 1rem;
}
.inc-inc{
    color: rgb(255, 119, 0);
}
.cmnt-php{
    display: block;
    padding: 2rem;
}