:root {
    --purple: #752bdf;
    --imPure: #f2f3f9; 
    --cute:#00c28e;
    --PurityMixture:#eee;
    --Pure:#fff;
    --dark:#272c4a;
    --darkPlus:#1b203d;
}

.main-setting{
    width: 85%;
    margin-top: 2rem;
    margin-left: 2rem;
    height: auto;
    border-radius: 5px;
}
.upper-in-settings{
    height: auto;
    /* border: 1px solid red; */
}

.btn-for-settings{
    background-color: #fff;
    margin-right: 0;
    margin-left: 0;
    display: block;
    float: left;
    padding: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    border-radius: 0px 0px 0px 0px;
    border: 1px solid #888;
    border-bottom: 0;
    /* border-bottom: 4px solid #ffffff; */
}
.down-in-settings{
    height: 32rem;
    /* box-shadow: 0px 0px 3px #999; */
    border: 1px solid #888;
    /* border-top: 0; */
    background-color: #fff;
    overflow-y: auto;
    /* border: 1px solid red; */
}

.active-setting{
    background-color: #e8e8e8;
    color: rgb(0, 0, 0);
    /* border-bottom: 4px solid #752bdf; */
}

.no_data{
    text-align: center;
    display: block;
    padding-top: 2rem;
    margin: 0 auto;
    width: 100%;
}
.db-stngs{
    height: fit-content;
    /* border: 1px solid red; */
    padding-bottom:5rem;
}
#adminstng{
    display: none;
}

#filterstng{
    display: none;
}